.switchContainer {
  .label {
    color: gray;
  }
  .activeOption {
    color: red;
  }
  .options {
    background: #e4e4e4;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 50px 0;
    color: silver;
    color: #969696;
    font-size: 11pt;
  }
}
