$primary: #0078ff;
$secondry: #169981;
$white: #ffffff;
$black: #222222;

$xxsFontSize: 6pt;
$xsFontSize: 8pt;
$smFontSize: 10pt;
$mdFontSize: 12pt;
$lgFontSize: 14pt;
$xlFontSize: 16pt;
$xxlFontSize: 20pt;

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin shadowNormal() {
  box-shadow: 0 12px 40px 0 rgba(0, 90, 191, 0.2);
}
