@import "../base.scss";

.footerContainer {
  height: 265px;
  width: 100%;
  position: relative;
  color: $white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, $primary 0%, $primary 35%, $secondry 100%);
  @include flex();

  .footer {
    @include flex();
    > div {
      @include flex-column();
      width: 100%;
      > ul {
        list-style: none;
        li {
          margin-top: 10px;
          font-size: $smFontSize;
          @include flex();
          justify-content: flex-start;
          img {
            margin-left: 15px;
          }
          > span {
            > span:first-child {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
  .title {
    font-weight: bold;
  }
  .legend {
    position: absolute;
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: -50px;
    @include flex();
    border-radius: 50%;
    padding: 25px;
    box-shadow: 0 12px 30px 0 rgba(9, 29, 52, 0.4);
    background: linear-gradient(222deg, #50d8bf 33%, #0078ff 100%);
    .icon {
      width: 80px;
    }
    .dotsRight {
      position: absolute;
      right: 128px;
      top: 62px;
    }
    .dotsLeft {
      position: absolute;
      left: 128px;
      top: 62px;
    }
  }
  .copyRight {
    width: 330px;
    text-align: center;
    @include flex-column();
    span {
      font-size: $smFontSize;
      color: white;
      margin-top: 30px;
      direction: ltr;
    }
  }
}
