@import "../../components/base.scss";

.inquiryContainer {
  @include flex-column();
  justify-content: flex-start;
  min-height: calc(100vh - 250px);
  padding-bottom: 100px;
  .title {
    @include flex-column();
    color: $primary;
    margin-bottom: 30px;
  }
  .input {
    margin: 15px 0;
  }

  .submit {
    margin-top: 50px;
    width: 400px;
    button {
      width: 100%;
    }
  }
  .agreement {
    width: 400px;
    margin-top: 20px;
    font-size: $mdFontSize;
    input {
      transform: scale(1.3);
      padding: 10px;
      margin: 0 0 0 10px;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }
}

.errorText {
  font-size: 9pt;
  color: $failcolor;
  display: flex;
  margin-top: 8px;
  img {
    width: 20px;
    margin-left: 5px;
  }
}
