.notificationSnackBar {
  direction: ltr;
  font-size: small;
  position: fixed;
  z-index: 1000000;
  left: 10px;
  background: white;
  height: 60px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1),
    0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  min-width: 240px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  & > img {
    margin-right: 15px;
  }
  & > div {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding-left: 10px;
    }
  }
  box-sizing: border-box !important;
  max-width: 600px;
  max-height: 100px;
  overflow: hidden;
}

.notification__error {
  background: #fcf2f2;
}
.notification__warning {
  background: #fffaf6;
}
.notification__success {
  background: #f6fff6;
}

.removeIt {
  display: none !important;
}

.notification__comeIn {
  -webkit-animation: comeIn 0.5s cubic-bezier(0, 0, 0.63, 1.2);
  animation: comeIn 0.5s cubic-bezier(0, 0, 0.63, 1.2);
}

.notification__comeOut {
  -webkit-animation: comeOut 0.5s cubic-bezier(0.2, -0.4, 0.9, 0.8);
  animation: comeOut 0.5s cubic-bezier(0.2, -0.4, 0.9, 0.8);
}
// .notification__success {
//   // color: green;
// }

.networkStatusNotif {
  position: fixed;
  z-index: 10000;
  left: 20px;
  bottom: 25px;
  background: white;
  height: 100px;
  width: 320px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1),
    0px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 0px 15px 0px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .status-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
  }
  .status-icons {
    display: flex;
    justify-content: center;
    align-items: center; // border: 1px solid;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background: rgb(245, 245, 245);
  }
}

.network-svg {
  fill: #616161;
  transform: 0.5s;
}
.network-svg-error {
  fill: #f44336;
}
@-webkit-keyframes comeIn {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
}

@keyframes comeIn {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes comeOut {
  from {
    left: 10px;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

@keyframes comeOut {
  from {
    left: 10px;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

.timingShadowNotification {
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: transparent;
  left: 0;
  direction: ltr;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.1s;
  &::after {
    content: "";
    height: 8px;
    // transition: 1s;
    width: 100%;
    position: absolute;
    // transition: ;
    // animation: widthToSad 1s linear;
  }
}

.timingShadowNotification.error {
  &::after {
    background: #ff9e97;
  }
}
.timingShadowNotification.warning {
  &::after {
    background: #ffc897;
  }
}
.timingShadowNotification.success {
  &::after {
    background: #2ebb2e54;
  }
}

.timelineStart {
  &::after {
    // content: "";
    // height: 8px;
    // width: 0;
    // position: absolute;
    animation: widthSadToZero 5s linear;
  }
}

@-webkit-keyframes widthSadToZero {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes widthSadToZero {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
