@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply cursor-pointer flex justify-center items-center rounded-full  whitespace-nowrap;
  }
  .btn-primary-outline-sm {
    @apply text-xs bg-white  text-brandPrimary-main border-solid border-2 border-brandPrimary-light py-2 px-4;
  }
  .btn-secondray-outline-sm {
    @apply text-xs bg-white  text-brandSecondary-main border-solid border-2 border-brandSecondary-light py-2 px-4;
  }
  .btn-secondray-sm {
    @apply text-xs text-white bg-brandSecondary-main  py-2 px-4;
  }
  .btn-primary-sm {
    @apply text-xs  text-white bg-brandPrimary-main py-2 px-4;
  }
  /*  */
  .btn-primary-outline {
    @apply bg-white  text-brandPrimary-main border-solid border-2 border-brandPrimary-light py-2 px-6;
  }
  .btn-secondray-outline {
    @apply bg-white  text-brandSecondary-main border-solid border-2 border-brandSecondary-light py-2 px-6;
  }
  .btn-secondray {
    @apply text-white bg-brandSecondary-main  py-2 px-6;
  }
  .btn-primary {
    @apply text-white bg-brandPrimary-main py-2 px-6;
  }
}

@layer base {
}
@font-face {
  font-family: IranSans;
  src: url("./fonts/iransans/IRANSansWeb\(FaNum\)_Medium.ttf");
}

body {
  direction: rtl;
  font-family: "IranSans";
}
